{% extends "gis/home.html" %}
{% block content %}
<h2>Carte vectorielle des Areas (MapLibre)</h2>
<link rel="stylesheet" href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" />
<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
<div id="map" style="width: 100%; height: 1024px;"></div>
<script>
var map = new maplibregl.Map({
    container: 'map',
    style: {
        "version": 8,
        "glyphs": "https://demotiles.maplibre.org/font/{fontstack}/{range}.pbf",
        "sources": {
            "osm": {
                "type": "raster",
                "tiles": ["https://a.tile.openstreetmap.org/{z}/{x}/{y}.png"],
                "tileSize": 256
            },
            "areas": {
                "type": "vector",
                "tiles": [
                    window.location.origin + "/maptileview/{z}/{x}/{y}"
                ]
            }
        },
        "layers": [
            {
                "id": "osm",
                "type": "raster",
                "source": "osm"
            },
            {
                "id": "areas-fill",
                "type": "fill",
                "source": "areas",
                "source-layer": "areas",
                "paint": {
                    "fill-color": [
                        'case',
                        ['==', ['get', 'sector'], 'External'], '#ff6d33',
                        /* sinon */ '#3388ff'
                    ],
                    "fill-opacity": 0.4
                }
            },
            {
                "id": "areas-outline",
                "type": "line",
                "source": "areas",
                "source-layer": "areas",
                "min-zoom": 10,
                "paint": {
                    "line-color": "#6b1f01",
                    "line-width": 2,
                    "line-opacity": 0.8
                }
            },
            {
                "id": "pipes",
                "type": "line",
                "source": "areas",
                "source-layer": "pipes",
                "paint": {
                    "line-color": [
                        'match',
                        ['get', 'fluid'],
                        'Gas',   '#808080',
                        'Oil',   '#000000',
                        'Water', '#33a02c',
                        /* other */ '#FFFFFF'
                    ],
                    "line-width": 2
                }
            },
            {
                "id": "area-centroids-labels",
                "type": "symbol",
                "source": "areas",
                "source-layer": "area_centroids",
                "layout": {
                    "text-field": "{sector}",
                    "text-font": ["Noto Sans Italic"],
                    "text-size": 14
                },
                "paint": {
                    "text-color": "#FFFFFF",
                }
            }
        ]
    },
    center: [10,0],
    zoom: 6
});

// Fonction pour sélectionner un pipe et afficher une popup
map.on('click', function(e) {
    var features = map.queryRenderedFeatures(e.point, {
        layers: ['pipes']
    });
    if (features.length > 0) {
        var pipe = features[0];
        var props = pipe.properties;
        var html = '<b>Pipe</b><br>';
        for (var key in props) {
            html += key + ': ' + props[key] + '<br>';
        }
        new maplibregl.Popup()
            .setLngLat(e.lngLat)
            .setHTML(html)
            .addTo(map);
    }
});
</script>
{% endblock %}


